<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 写信</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico"> <link href="/cms/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/cms/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="/cms/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/cms/css/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="/cms/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="/cms/css/style.css?v=4.1.0" rel="stylesheet">
    <link rel="stylesheet" href="/cms/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-3">
            <div class="ibox-content">
                <div class="zTreeDemoBackground left">
                    <ul id="treeDemo" class="ztree"></ul>
                </div>
            </div>
        </div>
        <div class="col-sm-9 animated fadeInRight">

            <div class="mail-box">


                <div class="mail-body">

                    <form class="form-horizontal" method="get">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">选择栏目：</label>

                            <div class="col-sm-10">
                                <input type="hidden" th:value="${wId}" id="wId"/>
                                <input type="text" id="citySel"  onfocus="showMenu();" readonly th:value="${wName}" class="form-control" value="">
                                <div id="menuContent" class="menuContent" style="display:none; position: absolute;z-index:99;">
                                    <ul id="treeDemo1" class="ztree" style="margin-top:0; width:160px;"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">标题：</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">发布者：</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="author" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">关键词：</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="gjc" value="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content no-padding">
                    <div class="summernote"></div>
                </div>
                <div class="mail-body text-right tooltip-demo">
                    <a href="javascript:;" onclick="toSub()" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> 发送</a>
                    <a href="javascript:;" onclick="cancel()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> 放弃</a>
                </div>
                <div class="clearfix"></div>



            </div>
        </div>

    </div>
</div>




<!-- 全局js -->
<script src="/cms/js/jquery.min.js?v=2.1.4"></script>
<script src="/cms/js/bootstrap.min.js?v=3.3.6"></script>

<!-- 自定义js -->
<script src="/cms/js/content.js?v=1.0.0"></script>

<script type="text/javascript" src="/cms/ztree/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/layui/lay/modules/layer.js"></script>

<!-- iCheck -->
<script src="/cms/js/plugins/iCheck/icheck.min.js"></script>
<script src="/module/contents/content.js"></script>
<script src="/module/common/ztreeCommon.js"></script>

<!-- SUMMERNOTE -->
<script src="/cms/js/plugins/summernote/summernote.min.js"></script>
<script src="/cms/js/plugins/summernote/summernote-zh-CN.js"></script>
<script  th:inline="javascript">

    var dataList = [[${columnList}]];
    var standardTree = [[${standardTree}]];
    var setting = {
        view: {
            dblClickExpand: false
        },
        data: {
            simpleData: {
                enable: true,

            }
        },
        callback: {
            beforeClick: beforeClick,
            onClick: onClick
        }
    };

    var zNodes1 = dataList;
    var zNodes = standardTree;


    /* 文本框显示下拉框结束*/
    $(document).ready(function () {
debugger

        $('.summernote').summernote({
            lang: 'zh-CN',
            focus: true,
            onImageUpload: function (files,editor,welEditable) {
                sendFile(files[0],editor,welEditable);
            }
        });

        $.fn.zTree.init($("#treeDemo"), setting, zNodes1);
        $.fn.zTree.init($("#treeDemo1"), setting, zNodes);

        function sendFile(files,editor,welEditable){
            debugger
            var formData = new FormData();
            formData.append("file", files);
            $.ajax({
                url: "addimg",
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function (data) {
                    debugger
                    console.log(data)
                    editor.insertImage(welEditable, data.msg);
                }
            });
        }

    });


    var edit = function () {
        $("#eg").addClass("no-padding");
        $('.click2edit').summernote({
            lang: 'zh-CN',
        });
    };


    var save = function () {
        $("#eg").removeClass("no-padding");
        var aHTML = $('.click2edit').code(); //save HTML If you need(aHTML: array).
        $('.click2edit').destroy();
    };

    function cancel(){
        window.history.back(-1);
    }
</script>

<!--统计代码，可删除-->

</body>

</html>
